<!DOCTYPE html>
<html lang="en" ng-app="DVReporterApp">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"><!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="" name="description">
    <meta content="" name="author">
    <!-- <link href="../../favicon.ico" rel="icon"> -->
    <title>DV Reporter</title>
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/static/bower_components/textAngular/dist/textAngular.css'>
    <link rel='stylesheet' href='/static/bower_components/font-awesome/css/font-awesome.min.css'>
    <style>
    .row {
        padding-bottom: 40px;
    }
    </style>
</head>
{% verbatim %}
<body ng-controller="BaseCtrl">
    <div class="container">  
        <div class="jumbotron text-center">
            <h1>DV Reporter</h1>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-danger btn-lg" ng-click="sendTest()">發送測試信</button>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-12 form-inline" style="font-size:18px">
                每日發送時間： <input class="form-control" type="number" min="0" max="23" ng-model="settings.hour">時
                <input class="form-control" type="number" min="0" max="59" ng-model="settings.minute">分
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>主旨</h4>
                <input class="form-control" ng-model="settings.subject" placeholder="請輸入主旨">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 style="display:inline-block">收件者（皆以附件密本傳送）</h4>
                <button ng-hide="editRecipients" ng-click="editRecipients=!editRecipients" class="btn btn-info" style="float:right"><i class="fa fa-edit"></i> 編輯</button>
                <div ng-show="editRecipients" class="btn-group" style="float:right">
                    <button ng-click="editRecipients=!editRecipients;saveRecipients()" class="btn btn-default"><i class="fa fa-check"></i> 完成</button>
                    <button ng-click="editRecipients=!editRecipients" class="btn btn-default"><i class="fa fa-times"></i> 取消</button>
                </div>
                <textarea ng-show="editRecipients" class="form-control" rows="5" ng-model="recipientsEdit"></textarea>
            </div>
            <div ng-hide="editRecipients" class="col-md-12" style="height:100px;overflow:scroll">
                <ol>
                    <li ng-repeat="recipient in settings.recipients"><code>{{recipient}}</code></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div text-angular ng-model="settings.htmlVariable"></div>
            </div>
        </div>
        <div class="row">
            <!--
            <div class="col-md-12">
                <input type="file" nv-file-select uploader="uploader"/><br/>
                <ul>
                    <li ng-repeat="item in uploader.queue">
                        Name: <span ng-bind="item.file.name"></span><br/>
                        <button ng-click="item.upload()">upload</button>
                    </li>
                </ul>
            </div>
            -->
                <div class="col-md-12">

                    <h4>附加檔案</h4>
                    <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>

                    <hr>
                    <!--
                    <p>Queue length: {{ uploader.queue.length }}</p>
                    -->

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">檔案名稱</th>
                                <th ng-show="uploader.isHTML5">大小</th>
                                <th ng-show="uploader.isHTML5">進度</th>
                                <th>狀態</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> 上傳
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> 取消
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> 移除
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>
                        <!--
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        -->
                        <div ng-show="uploader.queue.length">
                            <button type="button" class="btn btn-success" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                <span class="glyphicon glyphicon-upload"></span> 全部上傳
                            </button>
                            <button type="button" class="btn btn-warning" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> 全部取消
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span> 全部移除
                            </button>
                        </div>
                    </div>

                </div>

        </div>

        <!--
        <button class="btn btn-info" ng-click="test()">test</button>
        <pre><code>{{subject}}</code></pre>
        <pre><code>{{htmlVariable}}</code></pre>
        -->
    </div>
{% endverbatim %}
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script> 
    <script src="/static/bower_components/angular/angular.min.js"></script> 
    <script src="/static/bower_components/angular-animate/angular-animate.min.js"></script> 
    <script src="/static/bower_components/angular-route/angular-route.min.js"></script>
    <script src='/static/bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
    <script src='/static/bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script src='/static/bower_components/textAngular/dist/textAngular.min.js'></script>
    <script src='/static/bower_components/angular-file-upload/dist/angular-file-upload.min.js'></script>
    <script src="/static/js/ajireporter.js"></script> 

</body>
</html>