<!DOCTYPE html>
<html lang="en" ng-app="DVReporterApp">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"><!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="/static/img/favicon.ico" rel="icon">
    <title>DV Reporter</title>
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/static/bower_components/textAngular/dist/textAngular.css'>
    <link rel='stylesheet' href='/static/bower_components/font-awesome/css/font-awesome.min.css'>
    <style>
    .row {
        padding-bottom: 50px;
    }
    .header {
        position: relative;
        padding: 30px 30px 30px 60px;
        text-align: left;
        color: rgba(255, 255, 255, .8);
        background-color: #b84d45;
        background-image: url(/static/img/bg.png);
        margin-bottom: 40px;
        font-size: 20px;
    }
    .logo {
        border-radius: 50%;
        width: 40%;
    }
    .btn-custom,
    .btn-custom:hover,
    .btn-custom:active,
    .btn-custom:visited,
    .btn-custom:focus {
        color: #ffffff;
        background-color: #b84d45;
        border-color: #b84d45;
    }
    .btn-custom2 {
        border-color: #b84d45;
    }
    .btn-custom2:hover {
        color: #ffffff;
        background-color: #b84d45;
        border-color: #b84d45;
    }
    .footer {
        background-color: #b84d45;
        font-size: 10px;
        color: #ffffff;
        min-height: 30px;
        padding-top: 10px; 
        vertical-align: middle;
    }
    .form-control:focus {
        border-color: #b84d45;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
    }
    </style>
</head>
<body ng-controller="BaseCtrl">
    <div class="header">
        <div class="row">
            <div class="col-md-4">
                <img src="/static/img/DV02.png" class="logo">
            </div>
            <div class="col-md-8" style="padding-top:60px;font-size:42px">
                溫先生日誌管理系統
            </div>
        </div>
    </div>
    {% if not user.is_authenticated %}
    <div class="container" style="margin-top:100px;margin-bottom:100px;"> 
        <div class="row"> <!--login page start -->
            <div class="col-md-offset-3 col-md-6 text-center">
                <div class="row">
                    <div class="col-md-12"><h3>請先登入</div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form ng-submit="login()">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa-2x"></i></span>
                                <input  class="form-control input-lg" placeholder="帳號" required="required" maxlength="100" type="text" name="text" value="" ng-model="username">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-asterisk fa-2x"></i></span>
                                <input  class="form-control input-lg" placeholder="密碼" required="required" maxlength="60" type="password" name="password" ng-model="password">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-block btn-custom btn-lg">登入</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- login page end-->
    </div>
    {% endif %}

    {% if user.is_authenticated %}
    {% verbatim %}
    <div class="container" style="margin-top:0px;"> 
        <div class="row">
            <div class="col-md-offset-2 col-md-2 text-center">
                <button class="btn btn-default btn-custom2 btn-lg btn-block" ng-click="sendTest()">發送測試信</button>
            </div>
            <div class="col-md-2 text-center">
                <button class="btn btn-default btn-custom2 btn-lg btn-block" ng-click="genCron();saveSettings()">儲存設定</button>
            </div>
            <div class="col-md-2 text-center">
                <button class="btn btn-default btn-custom2 btn-lg btn-block" ng-click="deleteSettings()">刪除設定</button>
            </div>
            <div class="col-md-2 text-center">
                <button class="btn btn-default btn-custom2 btn-lg btn-block" onclick="location.href='/logout/'">登出</button>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-12 form-inline" style="font-size:18px">
                每日發送時間： <input class="form-control" type="number" min="0" max="23" ng-model="settings.hour">時
                <input class="form-control" type="number" min="0" max="59" ng-model="settings.minute">分
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>主旨</h3>
                <input class="form-control" ng-model="settings.subject" placeholder="請輸入主旨">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 style="display:inline-block">收件者（皆以附件密本傳送）</h3>
                <button ng-hide="editRecipients" ng-click="editRecipients=!editRecipients" class="btn btn-custom" style="float:right"><i class="fa fa-edit"></i> 編輯</button>
                <div ng-show="editRecipients" class="btn-group" style="float:right">
                    <button ng-click="editRecipients=!editRecipients;saveRecipients()" class="btn btn-default"><i class="fa fa-check"></i> 完成</button>
                    <button ng-click="editRecipients=!editRecipients" class="btn btn-default"><i class="fa fa-times"></i> 取消</button>
                </div>
                <textarea ng-show="editRecipients" class="form-control" rows="5" ng-model="recipientsEdit"></textarea>
            </div>
            <div ng-hide="editRecipients" class="col-md-12" style="height:100px;overflow:scroll">
                <ol>
                    <li ng-repeat="recipient in settings.recipients"><code>{{recipient}}</code></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>信件內容</h3>
                <div text-angular ng-model="settings.htmlVariable"></div>
            </div>
        </div>
        <div class="row">
            <!--
            <div class="col-md-12">
                <input type="file" nv-file-select uploader="uploader"/><br/>
                <ul>
                    <li ng-repeat="item in uploader.queue">
                        Name: <span ng-bind="item.file.name"></span><br/>
                        <button ng-click="item.upload()">upload</button>
                    </li>
                </ul>
            </div>
            -->
                <div class="col-md-12">

                    <h3>附加檔案</h3>
                    <input type="file" nv-file-select="" uploader="settings.uploader" multiple  /><br/>

                    <hr>
                    <!--
                    <p>Queue length: {{ uploader.queue.length }}</p>
                    -->

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">檔案名稱</th>
                                <th ng-show="settings.uploader.isHTML5">大小</th>
                                <th ng-show="settings.uploader.isHTML5">進度</th>
                                <th>狀態</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in settings.uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="settings.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="settings.uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>

                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> 上傳
                                    </button>
                                    <!--
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> 取消
                                    </button>
                                    -->
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> 移除
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>

                    <div>
                        <!--
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': settings.uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <div ng-show="settings.uploader.queue.length">
                            <button type="button" class="btn btn-success" ng-click="settings.uploader.uploadAll()" ng-disabled="!settings.uploader.getNotUploadedItems().length">
                                <span class="glyphicon glyphicon-upload"></span> 全部上傳
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="initUploader()" ng-disabled="!settings.uploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span> 全部移除
                            </button>
                        </div>
                        -->
                    </div>

                </div>

        </div>
        <!--
        <button class="btn btn-info" ng-click="test()">test</button>
        <pre><code>{{subject}}</code></pre>
        <pre><code>{{htmlVariable}}</code></pre>
        -->
    </div>
    {% endverbatim %}
    {% endif %}
    <div class="footer text-center">
        Copyright © 2017 Aji All rights reserved
    </div>
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script> 
    <script src="/static/bower_components/angular/angular.min.js"></script> 
    <script src="/static/bower_components/angular-animate/angular-animate.min.js"></script> 
    <script src="/static/bower_components/angular-route/angular-route.min.js"></script>
    <script src='/static/bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
    <script src='/static/bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script src='/static/bower_components/textAngular/dist/textAngular.min.js'></script>
    <script src='/static/bower_components/angular-file-upload/dist/angular-file-upload.min.js'></script>
    <script src="/static/js/ajireporter.js"></script> 
</body>
</html>